.container {
  display: grid;
}

.navigation ul {
    list-style: none;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.card-container {
  border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
}

.card {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    float: right;
  }
  
  .button-group button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .button-group button img {
    width: 30px;
    height: 30px;
  }

  .search-container {
    float: right;
  }

.header {
  border: 1px solid black;
}

.sidebar {
  border: 1px solid red;
}
