.navigation ul {
    list-style: none;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.card {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    float: right;
  }
  
  .button-group button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .button-group button img {
    width: 30px;
    height: 30px;
  }